<footer class="footer" itemscope itemtype="http://schema.org/WPFooter">
	<%- partial('_common/social', null, {cache: !config.relative_link}) %>
    <div class="copyright">
    	<% if(theme.site.copyright) { %>
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
        <% } %>
        <div class="publishby">
            <a href="https://github.com/jiafly" target="_blank">Jiafly</a> 与你一路相伴!
        	<!--<%= __('copyright.theme_by') %> <a href="https://github.com/jiafly" target="_blank"> Jiafly </a><%= __('copyright.base_on') %> <a href="https://github.com/cofess/hexo-theme-pure" target="_blank">pure</a>.-->
        </div>
    </div>
</footer>